@import '../../global/global.scss';

body {
    background: $main-purple;
}

.container-outside {
    // height: 100vh;
}

.container-inside {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        width: 100%;
        padding: 40px;
        box-sizing: border-box;

        @include pad {
            padding: 20px;
        }

        h3 {
            display: inline-block;
        }

        .score {
            padding: 10px 20px;
            border-radius: 10px;
            font-weight: 500;
            color: $main-purple;
            background-color: #fff;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        @include transition-fadeIn;

        .pictures {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .first-box {
                transform: translateX(170px);
            }

            .second-box {
                transform: translateX(-170px);
            }

            @include pad {
                // height: 380px;
                flex-direction: column;

                .first-box {
                    transform: translateX(0px);
                    transform: translateY(95px);
                }

                .second-box {
                    transform: translateX(0px);
                    transform: translateY(-95px);
                }
            }

            .img-box {
                transition: transform 0.4s ease-in-out;
                margin: 0 20px;
                width: 300px;
                height: 150px;

                @include pad {
                    margin: 20px 0;
                }

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                    // box-shadow: 10px 10px 4px rgba(0, 0, 0, .25);
                    object-fit: cover;
                    cursor: pointer;
                }

                // img:hover {
                //     // transform: scale(0.99);
                // }

                img:active {
                    transform: scale(0.95);
                }
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            margin: 20px;
            margin-top: 60px;

            @include pad {
                margin-top: 20px;
            }

            p {
                text-align: center;
            }

            .test-description {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                @include pad {
                    flex-direction: column;
                }

                img {
                    width: 18px;
                    height: 18px;
                    margin-right: 15px;

                    @include pad {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }

            }

            .begin-description {
                margin-top: 30px;

                p {
                    color: $green;
                }
            }
        }

        .button-area {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 40px;


            button {
                @include button
            }

            @include button-status
        }
    }

    .footer {
        margin: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .loading-bar {
            display: flex;
            align-items: center;
            position: relative;
            max-width: 800px;
            padding: 5px 0;
            width: 80%;
            background-color: $secondary-purple;
            text-align: center;
            border-radius: 20px;
            overflow: hidden;

            .loading {
                display: block;
                position: absolute;
                top: 0;
                width: 5%;
                height: 100%;
                // border-radius: 20px 0 0 20px;
                padding: 5px 0;
                background-color: $loading-blue;
                transition: all 0.5s ease-in-out 0s;
            }

            span {
                display: inline-block;
                width: 100%;
                font-size: 16px;
                z-index: 1;
            }
        }

    }

    .result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-bottom: 120px;

        .user-input {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include transition-fadeIn;

            .title {
                padding-bottom: 20px;
                font-size: 24px;
            }

            p {
                padding: 20px 0;
            }

            .occupation-input {
                display: flex;
                flex-direction: row;
                width: 70%;
                justify-content: center;

                .vertical-alignment-box {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    label {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        margin: 10px 0;
                        color: $white;
                        cursor: pointer;

                        .radio-input {
                            display: none;
                        }

                        .radio {
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            border: 1px solid $white;
                            margin-right: 20px;
                            padding: 2px;
                        }

                        .radio::after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            display: block;
                            background-color: $white;
                            transition: .2s all;
                            transform: scale(0);
                        }

                        .radio-input:checked+.radio::after {
                            transform: scale(1);
                        }
                    }
                }
            }

            .name-input {
                width: 70%;
                margin-bottom: 20px;
                padding: 10px 20px;
                font-size: 30px;
                text-align: center;
                font-weight: 500;
                border: 1px solid $white;
                border-radius: 10px;
                background-color: $main-purple;
                outline: none;
            }

            button {
                @include button
            }

            @include button-status
        }

        .score {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include transition-fadeIn;

            .title {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 40px;
            }

            .result-data {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 40px;

                span {
                    font-size: 36px;
                    font-weight: 500;
                }

                .vertical-bar {
                    width: 5px;
                    height: 40px;
                    background-color: $white;
                    margin: 0 40px;
                }
            }

            .description {
                font-size: 26px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 60px;

                span {
                    // background-color: rgb(255, 240, 29);
                    padding: 0 10px;
                    font-size: 26px;
                }
            }

            .social-media {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 60px;

                button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        width: 18px;
                        height: 18px;
                        margin-right: 5px
                    }

                    @include button
                }

                @include button-status
            }

            button {
                @include button
            }

            @include button-status
        }

        a {
            position: fixed;
            bottom: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 400;
            cursor: pointer;
            text-decoration: none;

            img {
                margin-left: 10px;
            }
        }

        a:hover {
            text-decoration: underline;
        }
    }

}